  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3  disable-select">
    <div class="dscribe-wrapper {{if image.selected 'selected'}}" onclick={{action 'clickToggleSelect' allowedKeys='ctrl'}}>
      <div class="dscribe-header"><h4>{{image.num}}</h4><span class="icon"></span></div>
      <div class="row">
        <div class="col-xs-4">
          <div class="image-thumbnail">
            {{#if small}}
                <img src="data:image/jpeg;base64,{{small}}">
                <i class="fa fa-search"></i>
            {{/if}}
          </div>
        </div>
        <div class="col-xs-4">
          <div class=" toolbar-physical btn-group-vertical">
              <h5>Fysisk</h5>
              <button id="BookCover" class="btn btn-default btn-sm {{image.page_type}}" {{action 'togglePhysical' 'BookCover'}}>Omslag <span class="icon"></span></button>
              <button id="LeftPage" class="btn btn-default btn-sm {{image.page_type}}" {{action 'togglePhysical' 'LeftPage'}}>Vänster <span class="icon"></span></button>
              <button id="RightPage" class="btn btn-default btn-sm {{image.page_type}}" {{action 'togglePhysical' 'RightPage'}}>Höger <span class="icon"></span></button>
              <button id="DoublePage" class="btn btn-default btn-sm {{image.page_type}}" {{action 'togglePhysical' 'DoublePage'}}>Uppslag <span class="icon"></span></button>
              <button id="LoosePage" class="btn btn-default btn-sm {{image.page_type}}" {{action 'togglePhysical' 'LoosePage'}}>Lös sida <span class="icon"></span></button>
              <button id="FoldOut" class="btn btn-default btn-sm {{image.page_type}}" {{action 'togglePhysical' 'FoldOut'}}>Utvik <span class="icon"></span></button>
              <button id="ColorTarget" class="btn btn-default btn-sm {{image.page_type}}" {{action 'togglePhysical' 'ColorTarget'}}>Färgk. <span class="icon"></span></button>
              <button id="BookSpine" class="btn btn-default btn-sm {{image.page_type}}" {{action 'togglePhysical' 'BookSpine'}}>Bokrygg <span class="icon"></span></button>
          </div>
          </div>
        <div class="col-xs-4">
          <div class=" toolbar-logical btn-group-vertical">
              <h5>Logisk</h5>
              <button id="TitlePage" class="btn btn-default btn-sm {{image.page_content}}" {{action 'toggleLogical' 'TitlePage'}}>Titels. <span class="icon"></span></button>
              <button id="OriginalCover" class="btn btn-default btn-sm {{image.page_content}}" {{action 'toggleLogical' 'OriginalCover'}}>Original <span class="icon"></span></button>
              <button id="TableOfContents" class="btn btn-default btn-sm {{image.page_content}}" {{action 'toggleLogical' 'TableOfContents'}}>Innehåll <span class="icon"></span></button>
              <button id="Index" class="btn btn-default btn-sm {{image.page_content}}" {{action 'toggleLogical' 'Index'}}>Index <span class="icon"></span></button>
              <button id="EmptyPage" class="btn btn-default btn-sm {{image.page_content}}" {{action 'toggleLogical' 'EmptyPage'}}>Tom sida <span class="icon"></span></button>
              <button id="Illustration" class="btn btn-default btn-sm {{image.page_content}}" {{action 'toggleLogical' 'Illustration'}}>Bild <span class="icon"></span></button>
              <button id="PhotographicIllustration" class="btn btn-default btn-sm {{image.page_content}}" {{action 'toggleLogical' 'PhotographicIllustration'}}>Foto <span class="icon"></span></button>
          </div>
        </div>
      </div>

    </div>
  </div>
