  <div class="col-xs-12 disable-select">
    <div class="dscribe-wrapper {{if image.selected 'selected'}}" onclick={{action 'clickToggleSelect' allowedKeys='ctrl'}}>
      <div class="dscribe-header"><h4>{{image.num}}</h4><span class="icon"></span></div>
      <div class="row">

        <div class="col-xs-12">
          <div class="image-thumbnail">
            {{#if small}}
                <img src="data:image/jpeg;base64,{{small}}">
                <i class="fa fa-search" data-toggle="tooltip" data-placement="top" title="Öppna bildfil i nytt fönster"></i>
            {{/if}}
          </div>
        </div>
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <div class="toolbar-physical" onclick={{action 'catchPhysical'}}>
                  <button id="BookCover"  title="Omslag" class="btn btn-default btn-sm {{image.page_type}}"><i class="fas fa-book"></i></button>
                  <button id="LeftPage"  title="Vänstersida" class="btn btn-default btn-sm {{image.page_type}}"> <i class="fas fa-arrow-alt-circle-left"></i></button>
                  <button id="RightPage"  title="Högersida" class="btn btn-default btn-sm {{image.page_type}}"> <i class="fas fa-arrow-alt-circle-right"></i> </button>
                  <button id="DoublePage" title="Uppslag" class="btn btn-default btn-sm {{image.page_type}}" ><i class="fas fa-book-open"></i></button>
                  <button id="FoldOut" title="Utvik" class="btn btn-default btn-sm {{image.page_type}}"> <i class="far fa-map"></i></button>
                  <button id="LoosePage"  title="Lös sida" class="btn btn-default btn-sm {{image.page_type}}"><i class="fas fa-scroll"></i></button>
                  <button id="ColorTarget"  title="Färgkarta" class="btn btn-default btn-sm {{image.page_type}}"><i class="fas fa-ruler-horizontal"></i> </button>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <div class=" toolbar-logical" onclick={{action 'catchLogical'}}>
                  <button id="OriginalCover" data-toggle="tooltip" data-placement="top" title="Originalomslag" class="btn btn-default btn-sm {{image.page_content}}"><i class="fas fa-atlas"></i></button>
               <!--   <button id="TitlePage" data-toggle="tooltip" data-placement="top" title="Titelsida" class="btn btn-default btn-sm {{image.page_content}}"><i class="fas fa-file-invoice"></i></button>
                  <button id="TableOfContents" data-toggle="tooltip" data-placement="top" title="Innehållsförteckning" class="btn btn-default btn-sm {{image.page_content}}"> <i class="fas fa-list"></i></button>
                  <button id="Illustration" data-toggle="tooltip" data-placement="top" title="Illustration" class="btn btn-default btn-sm {{image.page_content}}"> <i class="fas fa-pencil-alt"></i></button>
                  <button id="PhotographicIllustration" data-toggle="tooltip" data-placement="top" title="Fotografi" class="btn btn-default btn-sm {{image.page_content}}"><i class="fas fa-camera"></i></button>
                  <button id="Index" data-toggle="tooltip" data-placement="top" title="Index" class="btn btn-default btn-sm {{image.page_content}}"><i class="fas fa-sort-alpha-down"></i></button>
                  <button id="EmptyPage" data-toggle="tooltip" data-placement="top" title="Tom sida" class="btn btn-default btn-sm {{image.page_content}}"><i class="far fa-file"></i></button>-->
              </div>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>
